<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771236129619-qum9660j10aolps2hv4mpj2qjgjvg5k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771236129619-qum9660j10aolps2hv4mpj2qjgjvg5k6</string>
	<key>API_KEY</key>
	<string>AIzaSyCstpcYZLeoBGfO3ZhTf4kygLd85csro3I</string>
	<key>GCM_SENDER_ID</key>
	<string>771236129619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qr-scanner-test</string>
	<key>PROJECT_ID</key>
	<string>lookingpet-9b5de</string>
	<key>STORAGE_BUCKET</key>
	<string>lookingpet-9b5de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771236129619:ios:377c183a7825162b60cfa6</string>
</dict>
</plist>